<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Ccc_Shipping>
            <version>0.1.0</version>
        </Ccc_Shipping>
    </modules>

    <default>
        <carriers>
            <express>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>ccc_shipping/carrier_express</model>
                <name>Fixed</name>
                <price>5.00</price>
                <title>Express</title>
                <type>I</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </express>
        </carriers>
    </default>

    <global>
        <helpers>
            <class>Ccc_Shipping_Helper</class>
        </helpers>

        <models>
            <ccc_shipping>
                <class>Ccc_Shipping_Model</class>
            </ccc_shipping>
        </models>
    </global>
</config>